<MathJaxSettings Tex="texSettings" />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    TexInputSettings texSettings = new TexInputSettings();

    protected override Task OnInitializedAsync()
    {
        texSettings.InlineMath.Add(new string[] { "$", "$" });
        return base.OnInitializedAsync();
    }
}